################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ncb
*.aps
*.sdf
*.opensdf
*.old
*.suo
*.user
/UpgradeLog.htm
/Debug
/Debug Unicode
/Backup
/ipch/pestrid-20071dd4
*.obj
*.res
*.mac
*.htm
*.log
*.cer
*.pfx
*.pvk
*.idb
/Reference
*.pch
*.manifest
*.ilk
/x64/Debug
/x64/Debug Unicode
/x64/Release Unicode/PestRid.tlog
/x64/Release/vc90.pdb
/x64/Release Unicode/vc120.pdb
/Release/vc90.pdb
/Release Unicode/vc90.pdb
